.container {
  display: flex;
  font-size: 2.7rem;
}

.labelContainer {
  display: flex;
  margin-right: 2rem;
  width: 200px;
}

.label {
  font-size: 2.7rem;
  padding: 10px 0;
  display: flex;
  width: 30%;
}

.value {
  font-size: 2.7rem;
  padding: 10px 0;
  display: flex;
  width: 30%;
}

.links {
  display: flex;
  gap: 1rem;
  margin: 0px 4rem;
  font-size: 2.7rem;
  font-style: normal;
  line-height: 32px;
  text-align: left;
  text-decoration: underline;
  color: var(--accent-color);
  width: 40%;
}