.select {
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #b2b2b2;
  padding: 1rem;
  border-radius: 5px;
}

@media (min-width: 1080px) {
  .select {
    font-size: 2.2rem;
  }
}

@media (min-width: 1920px) {
  .select {
    font-size: 2.6rem;
  }
}
